html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
section{
	width: 1000px;
	height: 100%;
	position: relative;
	outline: 1px solid #000;
	margin: 0 auto;
}

#line{
	position: absolute;
	left: 50%;
	margin: 0 0 0 -0.125em;
	top: 0;
	bottom: 0;
	width: 0.25em;
	background: #accded;
}
.left, .right{
	position: relative;
	width: 450px;
	/*height: 300px;*/
	border-radius: 0.25em;
	outline: 1px solid pink;
	margin: 20px 0 0 0;
}
.left{
	float: left;
}
.right{
	margin-left: 52%;
}